image: toolhippie/elasticsearch-curator:latest
manifests:
  -
    image: toolhippie/elasticsearch-curator:amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: toolhippie/elasticsearch-curator:arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: toolhippie/elasticsearch-curator:arm32v6
    platform:
      architecture: arm
      os: linux
      variant: v6
